{% extends "base.html" %}
{% block content_title %}About{% endblock %}
{% block content %}
            <!-- About Section -->
            <section id="about" class="section-padding text-center">
                <div class="container mb-60">
                    <div class="row text-center">
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1s">
                            <img src="{{ url_for('static', filename='img/crystals/ufopoop.jpg') }}" style="max-width: 457px; width: 100%;" alt="mockup" />
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                            <div class="spacer-15"></div>
                            <h6 class="page-title-alt color mb-10">Austin's 24/7 Fun Delivery Service</h6>
                            <h2 class="page-title black mb-25">About<span class="text-light">us</span></h2>
                            <p class="mb-35">
			      Our mission is to provide you with the
			      highest quality products at the lowest
			      prices, any time, day or night. We're
			      always adding new items to our
			      inventory; visit our online store to see
			      our selection of deliverable
			      products.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->
        <!-- Quote Section -->
		     <section class="ptb ptb-sm-80 section-padding" id="philanthropy">
                <div class="container text-center">
                    <h3 class="page-title">Philanthropy</h3>
                </div>
			  <div class="container">
			  <div class="row">
			  <div class="col-md-6 col-md-offset-3 mb-30 wow fadeIn" data-wow-delay="0.1s" data-wow-duration=".5s">
			    <p> We give back to our city by donating
			    1% of our profits to Austin Cops for
			    Charities, which promotes Police
			    involvement in local charitable
			    organizations and also supports Austin
			    Police Officers and their families in
			    times of need.
			    </p>
			  </div>
			  </div>
			  </div>
			  </section>
        <!-- End Quote Section -->
{% endblock %}	    

