{% extends "base.html" %}
{% block content_title %}Gallery{% endblock %}
{% block content %}
<!-- Portfolio Section -->
            <section id="portfolio" class="section-padding-t gray-bg">
                <!-- <div class="container text-center"> -->
                <!--     <h2>Crystals &<span class="text-light">Fossils</span></h2> -->
                <!-- </div> -->
                <div class="container-fluid">
                    <div class="row">
                        <ul class="portfolio-filter categories-filter">
                            <li><a class="categories active" data-filter="*">All</a></li>
{% for tag in tags %}
                            <li><a class="categories" data-filter=".{{tag}}">{{ tag }}</a></li>
{% endfor %}
                        </ul>

                    </div>
                    <div class="portfolio-grid-fit row gallery-popup">
{% for item in items %}
                        <!-------> 
                        <div class="portfolio-item {{ item.tags }}">
			  <!-- You're a fuck for reading this -->
			  
                          <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/'+item.imagefile)}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                          <a class="gallery-popup-link" href="{{url_for('static', filename='img/'+item.imagefile)}}" title="{{ item.name }}">
					    <u><h6>{{ item.name }}</h6></u>
					  </a>
                                            <p>
					      {{ item.description }}
					    </p>
                                            <!-- <ul class="portfolio-btn-wraper"> -->
                                            <!--     <li> -->
                                            <!--         <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename=item.file)}}" title="{{ item.name }}"><i class="fa fa-search"></i></a> -->
                                            <!--     </li> -->
                                            <!--     <li> -->
                                            <!--         <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a> -->
                                            <!--     </li> -->
                                            <!--     <li> -->
                                            <!--         <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a> -->
                                            <!--     </li> -->
                                            <!--     <li> -->
                                            <!--         <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a> -->
                                            <!--     </li> -->
                                            <!-- </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
			{% endfor %}

                        <!------->

                    </div>
                </div>
            </section>
            <!-- End Portfolio Section -->
{% endblock %}
