<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Blue Line Novelties - Fun On Demand</title>
    <meta name="description" content="" />
    <meta name="keywords" content="retail, glowsticks, local art, stickers, sticker,
    delivery, festivals" />
    <meta name="author" content="digitalmanifold">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}" />

    <!-- Css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/plugins/animate.css') }}" rel="stylesheet" type="text/css" />
    <!-- SLIDER REVOLUTION CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rs-plugin/css/settings.css') }}" media="screen" />

</head>
<body>

    <!-- Site preloader -->
    <section id="preloader">
        <div class="site-spinner"></div>
    </section>
    <!-- End Site preloader -->

    <!-- Page Wraper -->
    <div id="page-wraper">
        <div class="wrapper">

            <!-- Header -->
            <div id="header" class="header">
                <div class="header-inner">
                    <!-- Logo -->
                    <div class="logo">
                      <a href="#" class="logo">
			<img src="{{ url_for('static', filename='img/logo-navbar.png') }}" alt="blueline" />
		      </a>
                    </div>
                    <!-- End Logo -->

                    <!--Navigation Icon-->
                    <div class="nav-menu-icon">
                        <a><i class="fa fa-bars"></i></a>
                    </div>
                    <!--End Navigation Icon-->

                    <!-- Navigation Menu -->
                    <div class="nav-menu">
                      <ul class="nav-menu-inner">
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
			<li><a href="http://store.bluelinenovelties.com">Store</a></li>
			<li><a href="#discounts">Promotions</a></li>
			<li><a href="#philanthropy">Philanthropy</a></li>			
                      </ul>
                    </div>
                    <!-- End Navigation Menu -->
                </div>
            </div>
            <!-- End Header -->



            <!-- Portfolio Section -->
            <section id="portfolio" class="section-padding-t gray-bg">
                <div class="container text-center">
                    <h2>Crystals &<span class="text-light">Fossils</span></h2>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <ul class="portfolio-filter categories-filter">
                            <li><a class="categories active" data-filter="*">All</a></li>
                            <li><a class="categories" data-filter=".calcite">Calcite</a></li>
                            <li><a class="categories" data-filter=".fossils">Fossils</a></li>
                            <li><a class="categories" data-filter=".meteors">Meteors</a></li>
                            <li><a class="categories" data-filter=".selenite">selenite</a></li>
                        </ul>

                    </div>
                    <div class="portfolio-grid-fit row gallery-popup">
                        <!------->
                        <div class="portfolio-item calcite meteors selenite">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/01.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/01.jpg')}}" title="Portfolio Image 01"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/02.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/02.jpg')}}" title="Portfolio Image 02"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item calcite meteors">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/03.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/03.jpg')}}" title="Portfolio Image 03"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item fossils">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/04.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/04.jpg')}}" title="Portfolio Image 04"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item fossils">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/05.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/05.jpg')}}" title="Portfolio Image 05"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item calcite meteors">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/06.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/06.jpg')}}" title="Portfolio Image 06"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item calcite fossils selenite">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/07.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Ufo Poop - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/07.jpg')}}" title="Portfolio Image 07"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->
                        <div class="portfolio-item meteors">
                            <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/portfolio/thumb/08.jpg')}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5>Digital Camera mockup</h5>
                                            <p>Mockup - Meteors - Graphic - Calcite</p>
                                            <ul class="portfolio-btn-wraper">
                                                <li>
                                                    <a class="gallery-popup-link btn btn-color" href="{{url_for('static', filename='img/portfolio/large/08.jpg')}}" title="Portfolio Image 08"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------->

                    </div>
                </div>
            </section>
            <!-- End Portfolio Section -->


	 	<!-- Tabs & Extra Elements -->
	 <section id="elements" class="section-padding">
             <div class="container text-center">
	 	 <h2 class="page-title">Art <span class="text-light">&</span> More</h2>
             </div>
             <div class="container">
	 	 <ul class="tabs-nav alt-icon-tab text-center">
                     <li class="mb-30 active">
	 	 	 <a href="#tab-cover-box" data-toggle="tab">
	 	 	    <div class="alt-icon-top"><i class="fa fa-arrows"></i></div>
	 	 	     <h6>All</h6>
	 	 	 </a>
                     </li>
                     <li class="mb-30">
	 	 	 <a href="#tab-image-slider" data-toggle="tab">
	 	 	    <div class="alt-icon-top"><i class="fa fa-paint-brush"></i></div>
	 	 	     <h6>Art by Taylor Green</h6>
	 	 	 </a>
                     </li>
	 	 </ul>
	 	 <div class="tabs-cont">
                     <div id="tab-image-slider" class="tab-pane">
			 <div class="container">
                         <div class="row">
                             <div class="col-md-10 col-md-offset-1">
                                 <div class="owl-carousel image-carousel nf-carousel-theme white">
                                     <div class="item">
                                         <img src="{{ url_for('static', filename='img/TG/01.jpg') }}" alt="" />
                                     </div>
                                     <div class="item">
                                         <img src="{{ url_for('static', filename='img/TG/02.jpg') }}" alt="" />
                                     </div>
                                     <div class="item">
                                         <img src="{{ url_for('static', filename='img/TG/03.jpg') }}" alt="" />
                                     </div>
                                 </div>
                             </div>
			 </div>
			 </div>
                     </div>
	 	     <div id="tab-cover-box" class="tab-pane active">
	 		 <div class="container">
	 		     <div class="row">
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/basil.jpg') }}" alt="basil" />
	 				 </figure>
	 				 <div class="cover-box-content">
	 				     <h5>Live Plants</h5>
	 				     <p>Succulents, herbs, and
	 				     bonsai trees grown deep
	 				     in the heart of Texas</p>
	 				 </div>
	 			     </div>
	 			 </div>
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/sushibunny.png') }}" alt="fireworks" />
	 				 </figure>
	 				 <div class="cover-box-content">
					   <h5>Stickers</h5>
	 				   <p>High quality super
	 				   durable vinyl stickers with
	 				   a laminate coating that
	 				   protects from scratches and
	 				   water damage.</p>
	 				 </div>
	 			     </div>
	 			 </div>
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/selenite_small.jpg') }}" alt="fireworks" />
	 				 </figure>
	 				 <div class="cover-box-content">
	 				   <h5>Artwork</h5>
	 				   <p>T-shirts, coasters, gym
	 				   bags and more featuring
	 				   original artwork by Austin
	 				   locals.</p>
	 				 </div>
	 			     </div>
	 			 </div>
			     </div>
			     <div class="row">
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/crystals_fossils.jpg') }}" alt="fireworks" />
	 				 </figure>
	 				 <div class="cover-box-content">
					   <h5>Crystals & Fossils</h5>
	 				   <p>Calcite, selenite,
	 				   quartz, and fossils from
	 				   around Austin.
	 				   </p>
	 				 </div>
	 			     </div>
	 							 </div>
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/yycats.png') }}" alt="fireworks" />
	 				 </figure>
	 				 <div class="cover-box-content">
	 				   <h5>Party Supplies</h5>
	 				   <p>Glow sticks, glow necklaces, Flashing LED toys and more!</p>
	 				 </div>
	 			     </div>
	 			 </div>				 
	 			 <div class="col-md-4">
	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/water_bottles.jpg') }}" alt="fireworks" />
	 				 </figure>
	 				 <div class="cover-box-content">
					   <h5>Bottled Water</h5>
	 				   <p>No description needed,
	 				   catch us at events downtown
	 				   and get hydrated.
					   </p>
	 				 </div>
	 			     </div>
	 			 </div>
	 		     </div>
	 		 </div>
                     </div>
	 	 </div>
		 
             </div>
	 </section>
	 	<!-- End Tabs & Extra Elements -->


            <!-- Action Box Section -->
            <section id="discounts" class="action-box action-black">
                <div class="container">
                    <div class="row action-box-left">
                        <h3 class="action-box-title color3">HASHTAG<br>DISCOUNT!</h3>
                    </div>
                    <div class="action-box-right">
                      <p class="max-width-700 lead white">
			Put one of our stickers on your laptop and
			post it online with the
			tag <span class="color2">#bringlaptopsnovelty</span>
			to get 15% off your next purchase!</p>
                    </div>
                </div>
            </section>
            <!-- Action Box Section -->

            <!-- About Section -->
            <section id="about" class="section-padding text-center">
                <div class="container mb-60">
                    <div class="row text-center">
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1s">
                            <img src="{{ url_for('static', filename='img/crystals/ufopoop.jpg') }}" style="max-width: 457px; width: 100%;" alt="mockup" />
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                            <div class="spacer-15"></div>
                            <h6 class="page-title-alt color mb-10">Austin's 24/7 Fun Delivery Service</h6>
                            <h2 class="page-title black mb-25">About<span class="text-light">us</span></h2>
                            <p class="mb-35">
			      Our mission is to provide you with the
			      highest quality products at the lowest
			      prices, any time, day or night. We're
			      always adding new products to our
			      inventory; visit our online store to see
			      our selection of deliverable
			      products.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->



	    
        <!-- Quote Section -->
		     <section class="ptb ptb-sm-80 section-padding" id="philanthropy">
                <div class="container text-center">
                    <h2 class="page-title">Philanthropy</h2>
                </div>
			  <div class="container">
			  <div class="row">
			  <div class="col-md-6 col-md-offset-3 mb-30 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
			    <p> We give back to our city by donating
			    1% of our profits to Austin Cops for
			    Charities, which promotes Police
			    involvement in local charitable
			    organizations and also supports Austin
			    Police Officers and their families in
			    times of need.
			    </p>
			  </div>
			  </div>
			  </div>
			  </section>
        <!-- End Quote Section -->
            <!-- Contact Form -->
<!--            <section id="contact-us" class="section-padding dark-bg bg-image overlay-dark60" data-background-img="img/fireworks/f3.jpg" data-stellar-background-ratio="0">
                <div class="container">
                    <div class="row text-center">
                        <h6 class="page-title-alt color mb-15">Wanna say hello? </h6>
                        <h2 class="page-title">Get In <span class="text-light">Touch</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <form id="contact" class="contact-form" role="form">
                                    <div class="col-md-12 text-center">
                                        <h5 class="successContent">
                                            <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                                        </h5>
                                        <h5 class="errorContent" style="color: #e1534f;">
                                            <i class="fa fa-exclamation-circle left"></i>There was a problem validating the form please check!
                                        </h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field-wrapper">
                                            <input class="input-md form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required />
                                        </div>
                                        <div class="form-field-wrapper">
                                            <input class="input-md form-full" id="form-email" type="email" name="form-email" placeholder="Email" required />
                                        </div>
                                        <div class="form-field-wrapper">
                                            <input class="input-md form-full" id="form-subject" type="text" name="form-subject" placeholder="Subject" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-0">
                                        <div class="form-field-wrapper">
                                            <textarea class="input-md form-full" id="form-message" rows="7" name="form-message" placeholder="Your Message" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-md btn-color" type="submit" id="form-submit" name="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
-->
            <!-- End Contact Form -->

	
	<!--Footer Section-->
            <footer id="footer" class="footer section-padding gray-bg">
                <div class="container text-center">

                    <!--Footer Logo-->
                    <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                        <a class="scroll-top" href="#intro">
                            <img src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="mazel" />
                        </a>
                    </div>
                    <!--End Footer Logo-->

                    <!-- Copyright -->
                    <p class="copyright mb-25">
                        &copy; 2017 <a><b>Blue Line Novelties</b></a>. All Rights Reserved.<br>
                        Template by <a href="http://nileforest.com/" target="_blank"><b>nileforest</b></a>
                    </p>
                    <!-- Copyright -->

                    <!-- Social -->
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <!-- End Social -->

                </div>
            </footer>
            <!-- End Footer Section-->

        </div>
    </div>
    <!-- End Page Wraper -->


    <!-- Js -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.fitvids.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.stellar.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/isotope.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.appear.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.fs.tipper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.countTo.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/owl.carousel.min.js')}}" type="text/javascript"></script>
    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
    <!-- End SLIDER REVOLUTION SCRIPTS  -->
    <script src="{{ url_for('static', filename='js/plugins/jquery.magnific-popup.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.singlePageNav.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/wow.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/contact-form.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}" type="text/javascript"></script>

    <!-- <script type="text/javascript">
	 //  Onepage Nav Elements
	 $('.singlepage-nav').singlePageNav({
	 offset: 0,
	 filter: ':not(.external)',
	 updateHash: true,
	 currentClass: 'current',
	 easing: 'swing',
	 speed: 750,
	 beforeStart: function () {
	 if ($(window).width() < 991) {
	 $('.singlepage-nav > ul').hide();
	 };
	 },
	 onComplete: function () {
	 console.log('done scrolling');
	 }
	 });
	 </script>
       -->
    <!-- <script type="text/javascript"> -->
    <!--     $('.countdown').downCount({ -->
    <!--         date: '05/01/2017 12:00:00', -->
    <!--         offset: +10 -->
    <!--     }, function () { -->
    <!--         alert('Welcome to the new site.'); -->
    <!--     }); -->
    <!-- </script> -->

</body>
</html>
