{% extends "base.html" %}
{% block header %}
<!--Intro Section-->
            <section id="intro" class="intro-fullscreen">
                <!--Static Hero-->
                <div class="intro-media bg-image overlay-dark60" data-background-img="{{ url_for('static', filename='img/blue_bg1.jpg') }}"></div>
                <div class="intro-caption-waper dark-bg">
                  <div class="intro-full-height container">
                    <div class="intro-content">
                      <div class="intro-content-inner">
                        <h1 class="page-title-alt color3 mb-30" font-weight="600">Blue Line Novelties</h1>
                        <h3 class="intro-title white mb-30">
			  <a class="btn btn-sm btn-success" href="{{ url_for('store') }}"><b>Click here to buy stickers!</b></a>
                        </h3>
			<div class="max-width-700 lead">
</div>
                        <a class="btn btn-sm btn-color" href="{{ url_for('gallery') }}">Gallery</a>
                        <a class="btn btn-sm btn-color" href="{{ url_for('creators') }}">Artists</a>
                      </div>
                    </div>
                  </div>
                </div>
	       <!-- End Static Hero-->
             </section>
              <!-- End Intro Section-->
{% endblock %}


