{% extends "base.html" %}
{% block page_title %}Products{% endblock %}
{% block content_title %}Products{% endblock %}
{% block content %}
	 	<!-- Tabs & Extra Elements -->
	 <section id="elements" class="section-padding">
             <!-- <div class="container text-center"> -->
	     <!-- 	 <h2 class="page-title">items <span class="text-light">for</span> sale</h2> -->
             <!-- </div> -->
	 		 <div class="container">
	 		     <div class="row">

{% for product in items %}
			       <div class="col-md-4">
                            <!-- <div class="tipped" data-title="Cinnamon Basil" data-tipper-options='{"direction":"top", "follow":"true"}'> -->

	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/'+product.imagefile) }}" alt="{{ product.name }}" />
	 				 </figure>
	 				 <div class="cover-box-content">
	 				     <h5>{{ product.name }}</h5>
					     {% if product.price %}
	 				     <p>${{ product.price }}</p>
	 				     {% endif %}
					     <p>{{ product.description }}</p>
					     <!-- {% if product.deliverable %}
					     <p>Deliverable<p>
						 {% else %}
						 <p> Pickup only </p>
						 {% endif %} -->
					 </div>
	 			     <!-- </div> -->
				     </div>
	 			 </div>

	       {% if loop.index%3 == 0 and not loop.last %}
   			     </div><div class="row">
{% endif %}
{% endfor %}				 
			     </div>
	 		 </div>
             </div>
	 </section>
	 	<!-- End Tabs & Extra Elements -->

{% endblock %}
{% block actionbox %}
            <!-- Action Box Section -->
            <section id="mailinglist" class="action-box action-black">
                <div class="container">
                    <div class="row action-box-left">
		  <form action="" method="post" name="signup">
		    {{ form.hidden_tag() }}
		    <p class="lead white">
		      Enter your email:<br>{{ form.email }}
		    </p>
		      <input class="btn-contact-submit btn btn-sm btn-color" type="submit" value="Sign Up">
		      {% for error in form.email.errors %}
		         <span style="color: red;">[{{ error }}]</span>
			 {% endfor %}
                    <!-- <a class="btn btn-md btn-color">Sign Up</a> -->
		  </form>
		  <br>

                    </div>
                    <div class="action-box-right">
                      <p class="max-width-700 lead white">
			Sign up for our newsletter to stay informed of
			inventory additions, clearance sales, public
			events, and more.
		      </p>
                    </div>
                </div>
            </section>
            <!-- Action Box Section -->
{% endblock %}
