{% extends "base.html" %}
{% block content_title %} shop {% endblock %}
{% block content %}
            <!-- Team Section -->
            <section id="team-people" class="section-padding text-center">
                 <div class="container">
                    <h2 class="page-title">Our <span class="text-light">Team</span></h2>
                </div>
                <div class="container">
                    <div class="row">
                        <!--Team Carousel -->
                        <div class="owl-carousel team-carousel nf-carousel-theme">
{% for product in items %}
                            <div class="item">
                                <div class="team-item">
                                    <div class="team-item-img">
				      <img src="{{ url_for('static', filename='img/'+product.imagefile) }}" alt="{{ product.name }}" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner light-color">
                                                <h5>{{ product.name }}</h5>
                                                <p>{{ product.description }}</p>
                                                <ul class="social">
                                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-item-info">
                                        <h6>{{ product.name }}</h6>
                                        <p class="">{{ product.tags }}</p>
                                    </div>
                                </div>
                            </div>
{% endfor %}
                        </div>
                        <!--End Team Carousel --->
                    </div>
                </div>
            </section>
            <!-- End Team Section -->

{% endblock %}
