{% extends "base.html" %}
{% block page_title %}Mailing List{% endblock %}
{% block content_title %}Mailing List{% endblock %}
{% block content %}
<!-- About Section -->
            <section id="about" class="section-padding text-center">
                <div class="container mb-10">
                    <div class="row text-center">
                      <div class="col-md-6">
                        <h5 class="page-title-alt color mb-10">The Blue Line Noveltes</h5>
                            <h2 class="page-title black mb-25">Mailing<span class="text-light">list</span></h2>
			<p class="max-width-700">
			Sign up for our newsletter to stay informed of
			inventory additions, clearance sales, public
			events, and more.
		      </p>
                        </div>
                        <div class="col-md-6">
                            <div class="spacer-20"></div>
		  <form action="" method="post" name="signup" class="contact-form">
		    {{ mailinglistform.hidden_tag() }}
		    <p class="lead">
		      Enter your email:<br>{{ mailinglistform.email(class_="input-md form-full") }}
		    </p>
		      <input class="btn btn-sm btn-color" type="submit" value="Sign Up">
		      {% for error in mailinglistform.email.errors %}
		         <span style="color: red;">[{{ error }}]</span>
			 {% endfor %}
                    <!-- <a class="btn btn-md btn-color">Sign Up</a> -->
		  </form>
                 </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->
	    {% endblock %}
	    {% block actionbox %}
{% endblock %}
