{% extends "base.html" %}
{% block content_title %}Sign Up{% endblock %}
{% block content %}
            <!-- Statement1 Section -->
            <section id="mailinglist" class="section-padding bg-image overlay-dark60 dark-bg text-center" data-stellar-background-ratio="0" data-background-img="{{ url_for('static', filename='img/fireworks/f3.jpg') }}">
                <div class="container">
                  <p class="max-width-700 lead">
		    Sign up for our newsletter to stay informed of
		    inventory additions, clearance sales, public
		    events, and more.</p>
                    <a class="btn btn-md btn-color">Sign Up</a>
                </div>
            </section>
            <!-- End Statement1 Section -->

{% endblock %}
