{% extends "base.html" %}
{% block page_title %}{{ g.creator.name }}{% endblock %}
{% block content_title %}{{ g.creator.name }}{% endblock %}
{% block content %}
            <section id="signup" class="section-padding text-center">
                <div class="container mb-60">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <img src="{{ url_for('static', filename='img/plants-in-mugs.jpg') }}" style="max-width: 457px; width: 100%;" alt="{{g.creator.name}}" />
                        </div>
                        <div class="col-md-6">
                            <div class="spacer-15"></div>
                            <h3 class="page-title-alt color mb-10">Biography</h3>
                            <p class="mb-35">
			     {{ g.creator.bio }}
			    </p>
                        </div>
                    </div>
                </div>
            </section>
{% if g.creator.gallery_items.all() %}
	    <!-- Portfolio Section -->
            <section id="portfolio" class="section-padding-t gray-bg">
                <div class="container text-center">
                    <h2>Gallery <span class="text-light">Items</span></h2>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <ul class="portfolio-filter categories-filter">
                            <li><a class="categories active" data-filter="*">All</a></li>
{% for tag in g.creator.gallery_items.all() | tagset %}
                            <li><a class="categories" data-filter=".{{tag}}">{{ tag }}</a></li>
{% endfor %}
                        </ul>

                    </div>
                    <div class="portfolio-grid-fit row gallery-popup">
{% for item in g.creator.gallery_items.all() %}
                        <!-------> 
                        <div class="portfolio-item {{ item.tags }}">
			  <!-- You're a fuck for reading this -->
			  
                          <div class="portfolio-box">
                                <a class="portfolio-image-wrap">
                                    <img src="{{url_for('static', filename='img/'+item.imagefile)}}" alt="" /></a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-tb">
                                        <div class="portfolio-caption-tb-cell">
                                          <a class="gallery-popup-link" href="{{url_for('static', filename='img/'+item.imagefile)}}" title="{{ item.name }}">
					    <u><h6>{{ item.name }}</h6></u>
					  </a>
                                            <p>
					      {{ item.description }}
					    </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
			{% endfor %}

                        <!------->

                    </div>
                </div>
            </section>
            <!-- End Portfolio Section -->
{% endif %}
{% if g.creator.products.all() %}
	 	<!-- Tabs & Extra Elements -->
	 <section id="elements" class="section-padding">
             <div class="container text-center">
	 	 <h2 class="page-title">items<span class="text-light"> for </span>sale</h2>
             </div>
	 		 <div class="container">
	 		     <div class="row">

{% for product in g.creator.products.all() %}
			       <div class="col-md-4">
                            <!-- <div class="tipped" data-title="Cinnamon Basil" data-tipper-options='{"direction":"top", "follow":"true"}'> -->

	 			     <div class="cover-box mb-30">
	 				 <figure class="cover-box-img">
	 				     <img src="{{ url_for('static', filename='img/'+product.imagefile) }}" alt="{{ product.name }}" />
	 				 </figure>
	 				 <div class="cover-box-content">
	 				     <h5>{{ product.name }}</h5>
	 				     <p>${{ product.price }}</p>
	 				     <p>{{ product.description }}</p>
					     <!-- {% if product.deliverable %}
					     <p>Deliverable<p>
						 {% else %}
						 <p> Pickup only </p>
						 {% endif %} -->
					 </div>
	 			     <!-- </div> -->
				     </div>
	 			 </div>

	       {% if loop.index%3 == 0 and not loop.last %}
   			     </div><div class="row">
{% endif %}
{% endfor %}				 
			     </div>
	 		 </div>
             </div>
	 </section>
	 	<!-- End Tabs & Extra Elements -->
{% endif %}

{% endblock %}
